@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

@import "components/typography.less";

@_darkblue: #091f5d;
@_uvaorange: #cc3300;

/* Utility Classes */
img.flex-image {
	max-width: 100%;

	&.block {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

hr.spacer {
	height: 10px;
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	background: inherit;

	&.hairline {
		border-top: 1px solid @grayLighter;
		height: 5px;
		margin-top: 10px;
	}

	&.double {
		height: 20px;

		&.hairline {
			height: 10px;
			margin-top: 20px;
		}
	}
	&.half {
		height: 5px;

		&.hairline {
			height: 2px;
			margin-top: 5px;
		}
	}
}
.box {
	padding: 5px 10px;
	margin: 0;

	&.double {
		padding: 10px 20px;
	}
	&.half {
		padding: 2.5px 5px;
	}
}

.item-list {
	margin: 0;
	padding: 10px 0;

	.byline {
		font-size: 11px;
		.arial-stack;
		padding-top: 5px;

		i {
			color: @_uvaorange;
		}
	}

	li {
		list-style-type: none;
		margin: 0;
		padding: 0;

		margin-bottom: 10px;

		h3 {
			line-height: 1.1em;
			font-weight: normal;
			a {
				color: @_darkblue;
			}
		}
		h4 {
			line-height: 1.1em;
			font-weight: normal;
			a {
				color: @_darkblue;
			}
			span {
				font-size: 0.8em;
			}
		}
	}
}

.label {
	.arial-stack;
}

/* END Utility Classes */

/* Standard Classes */
body {
	.georgia-stack;
	font-size: 16px;
	color: @grayDarker;
}

nav {
	.arial-stack;
}

a {
	color: @linkColor;

	&:hover {
		color: @linkColor;
	}
}
/* END Standard Classes */

@import "components/header.less";
@import "components/ads.less";
@import "components/content.less";
@import "jquery.fancybox.less";

#social-buttons {
	.arial-stack;

	text-align: center;

	a {
		display: inline-block;
		margin: 0 10px;

		img {
			max-width: 40px;
		}
	}
}

.nav-tabs {
	.arial-stack;
	#gradient > .vertical(#3e62a4, #1c3875);
	.border-radius(3px 3px 0 0);
	margin-bottom: 0;

	li:hover, li.active {
		.border-radius(3px 3px 0 0);
		background: @_darkblue;
		margin-top: -3px;
		padding-bottom: 2px;
		margin-bottom: 0px;

		a {
			background: inherit;
			border: 0;
			color: #fff;
			padding-bottom: 4px;
		}

	}
	li, li:hover {
		a, a:hover {
			padding-top: 5px;
			padding-bottom: 5px;
			color: darken(#fff, 10%);
			background: inherit;
			border: 0;

		}

	}
}
.tab-content {
	.well {
		.border-radius(0 0 3px 3px);
		margin-top: -1px;
	}

	ul li {
		margin-bottom: 10px;
	}
}

footer {
	.well;

	ul {
		margin-bottom: 10px;

		li {
			padding-left: 10px;

			&:first-child {
				padding-left: 0;
			}
			a {
				font-size: 14px;
			}
			h3 a {
				font-size: 16px;
			}
		}
	}

	p {
		.small;
	}
}

.pull5 {
		#gradient > .vertical(#3e62a4, #1c3875);
}

.carousel {

}