/*Zubin's CSS end here*/

div#footer
{
margin:0;
padding:0;
padding-bottom:50px;
padding-top:20px;
}

img.divider{
margin:auto;
}

#columns-wrapper{
overflow: hidden;
width: 100%;
}


ul.footer-links{
list-style: none;
text-decoration: none;
}


#column-1, #column-2, #column-3, #column-4{
width:240px;
float: left;
}

a.footer-header{
color: #ff8207;
text-decoration: none;
font-weight:bold;
font-size:15px;
}

a.footer-header:hover{
text-decoration: underline;
}

a.footer-regular{
text-decoration: none;
font-size:13px;
color: #646464;
}

a.footer-regular:hover{
text-decoration: underline;
}

#footer-images
{
padding:0;
margin:0;
position: relative;
}
#footer-images img.right{
display: block;
right:0;
position:absolute;
width:290px;
height:50px;
}

#footer-images img.centered{
display: block;
margin:0 auto;
height:50px;
width:50px;
}

#copyright{
float: right;
}

#copyright p{
padding-top: 0;
margin: 0;
font-size: 11px;
color: #646464;
text-align: center;
}





